################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AmazonManagedStream/bin/Debug/net8.0
/AmazonManagedStream/obj
/.vs/AmazonManagedStream
